---
import ArticleLayout from "@/components/layouts/ArticleLayout.astro";
import PostMeta from "@/components/PostMeta.astro";

import { NotionBlocks, NotionPageCover } from "astronotion/components";
import { getStandalonePage } from "astronotion/api";

const EXAMPLE_NOTION_ID = "70fae7b4-788d-4273-9745-58212a5c2631";

const data = await getStandalonePage(EXAMPLE_NOTION_ID);
const { title, cover, contents, created, updated } = data;
---

<ArticleLayout content={{ title }}>
	<div slot="header-image" class="md:-mb-4">
		{cover && <NotionPageCover src={cover.url} pictureProps={{ aspect: 4 }} />}
	</div>

	{/** prettier-ignore */}
	<PostMeta created={created} updated={updated} />

	<NotionBlocks data={contents} />
</ArticleLayout>
